.card {
  background-color: var(--white-primary);
  border-radius: 1.6rem;
  cursor: pointer;
  overflow: hidden;
}

.card-body {
  padding: 1rem 2rem;
}
.card-body h3 {
  margin: 0.7rem 0;
}
.card-image > img {
  object-fit: cover;
  transition: transform 0.5s ease;
}
.card:hover .card-image > img {
  transform: scale(1.1);
}

.card-body > p {
  color: var(--gray-secondary);
}
