<div class="container mt">
  <h2 class="text-center">Agregar una Receta</h2>
  <form class="form" (ngSubmit)="saveRecipe()" [formGroup]="recipeForm">
    <div class="form-box">
      <div class="image" (click)="loadFile()">
        <label *ngIf="!image">Subir una imagen</label>
        <input type="file" hidden #imgElement (change)="handleChange($event)" />
        <img [src]="image" class="image-recipe" *ngIf="image" />
      </div>
      <span class="text-error" *ngIf="isInvalid('image')"
        >Este campo es requerido</span
      >
    </div>
    <div class="form-box">
      <label class="form-label" for="title">Título</label>
      <input type="text" id="title" formControlName="title" />
      <span class="text-error" *ngIf="isInvalid('title')"
        >Este campo es requerido</span
      >
    </div>
    <div class="form-box">
      <label class="form-label" for="description">Descripción</label>
      <textarea id="description" rows="10" formControlName="description">
      </textarea>
      <span class="text-error" *ngIf="isInvalid('description')"
        >Este campo es requerido</span
      >
    </div>

    <div class="form-box">
      <label class="form-label" for="ingredients-list">Ingredientes</label>
      <div class="ingredient">
        <input
          type="text"
          id="ingredients-list"
          formControlName="ingredientInput"
        />
        <app-button
          name="Añadir"
          type="button"
          (click)="addIngredient()"
        ></app-button>
      </div>
      <span class="text-error" *ngIf="isInvalid('ingredients')"
        >Al menos un ingrediente es requerido</span
      >
    </div>
    <div formArrayName="ingredients" *ngIf="ingredientsArray.length > 0">
      <label class="form-label">Lista de ingredientes</label>
      <div
        class="form-box ingredient"
        *ngFor="let ingredient of ingredientsArray.controls; index as i"
      >
        <div class="ingredient-item">
          {{ ingredient.value.ingredient }}
        </div>
        <app-button name="Borrar" (click)="deleteIngredient(i)"></app-button>
      </div>
    </div>

    <app-button name="Guardar" type="submit" [primary]="true"></app-button>
  </form>
</div>
