<section>
  <app-banner></app-banner>
</section>

<div *ngIf="lastRecipe; else Message">
  <main class="main-section">
    <div class="container main-recipe">
      <div
        class="
      "
      >
        <img [src]="lastRecipe.image" />
      </div>

      <div class="main-recipe-info">
        <div>
          <h2>{{ lastRecipe.title }}</h2>
          <p>
            {{ lastRecipe.description }}
          </p>
        </div>
        <app-button name="Detalles" (click)="navigateTo()"></app-button>
      </div>
    </div>
  </main>

  <section class="container mt">
    <header class="header-section">
      <h2 class="">Más Recetas</h2>
      <input
        type="text"
        placeholder="Busca una receta... "
        [(ngModel)]="recipeName"
        (input)="findRecipe()"
      />
    </header>
    <h3 *ngIf="recipeName">
      Resultados para: <span>"{{ recipeName }}"</span>
    </h3>
    <div class="recipes-grid">
      <app-card
        *ngFor="let recipe of filteredRecipes"
        [recipe]="recipe"
      ></app-card>
    </div>
    <p *ngIf="filteredRecipes.length === 0 && recipeName.length > 0">
      No hay resultados
    </p>
  </section>
</div>
<!-- //TODO: CAMBIAR EL ESTILO -->
<ng-template #Message>
  <h1 class="mt text-center">Aún no hay recetas agregadas</h1>
  <p class="text-center" style="color: var(--gray-secondary)">
    ¡Agrega y comparte tu receta hoy mismo!
  </p>
</ng-template>
