.main-section {
  padding-top: 5rem;
}

.header-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .header-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  input[type="text"] {
    width: 30rem;
  }
}

.main-recipe {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main-recipe {
    display: grid;
    grid-template-rows: unset;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 7rem;
  }
}

.main-recipe img {
  border-radius: 3rem;
  height: 30rem;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 768px) {
  .main-recipe img {
    height: 40rem;
  }
}

.main-recipe-img {
  border-radius: 3rem;
  padding: 2rem;
  height: 30rem;
}

.main-recipe-info {
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.recipes-container {
  min-height: 90rem;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
}
