.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-container {
  background-color: #fff;
  width: 90%;
  max-width: 60rem;
  border-radius: 0.6rem;
  padding: 2rem;
}

.modal-body {
  color: var(--gray-secondary);
  text-align: center;
}

.modal-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}
