.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 7rem;
  height: 7rem;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-list-item {
  font-weight: 700;
  cursor: pointer;
}
