@media (min-width: 768px) {
  .bg-detail-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    align-items: center;
  }
}

.detail-image {
  height: 100%;
  background-color: var(--white-primary);
  padding: 0 2rem;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .detail-image {
    height: 40rem;
  }
}

.detail-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ingredients-list {
  margin-top: 3rem;
}

.ingredients-list ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.ingredients-list ul li:last-child {
  margin-bottom: 0;
}

.marked {
  color: var(--gray-secondary);
  text-decoration: line-through;
}

.label-ingredient {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}
