@media (min-width: 768px) {
  .bg-detail-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    place-items: center;
  }
}

.detail-image {
  height: 100%;
  background-color: var(--white-primary);
  padding: 0 2rem;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .detail-image {
    height: 40rem;
  }
}

.detail-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.line-through {
  color: var(--gray-secondary);
  text-decoration: line-through;
}
