:root {
  --primary: #274c5b;
  --primary-hover: #3f788f;
  --green: #326a48;
  --green-hover: #3d7d56;
  --gray-primary: #d4d4d4;
  --gray-secondary: #595959;
  --white-primary: #f9f8f8;
  --white-secondary: #ededed;
  --yellow: #efd372;
  --font: "Poppins", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  padding-bottom: 20rem;
  font-family: var(--font);
  font-size: 1.6rem;
  color: var(--primary);
  line-height: 1.8;
}
h1,
h2,
h3 {
  font-weight: 900;
  margin: 2rem 0;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  color: var(--primary);
}
p {
  margin: 1rem 0;
}
img {
  max-width: 100%;
  display: block;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.6rem;
  border: 0.1rem solid var(--primary);
}

textarea {
  resize: vertical;
}

@media (min-width: 768px) {
  input[type="text"],
  textarea {
    padding: 1.3rem;
  }
}

input[type="checkbox"] {
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: var(--gray-primary);
  border-radius: 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]::after {
  content: "✔";
  font-size: 1.5rem;
  color: white;
  font-family: var(--font);
  display: none;
}

input[type="checkbox"]:hover {
  background-color: #a5a5a5;
}
input[type="checkbox"]:checked {
  background-color: var(--green);
}
input[type="checkbox"]:checked::after {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.text-center {
  text-align: center;
}

.mt {
  margin-top: 5rem;
}

.text-secondary {
  color: var(--gray-secondary);
}
